# Environment & secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# User data
saves/
logs/

# IDE & editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

private_start/

UI_report/
